.searchbar{
    .dropdown-menu{
        margin-top: 0px;
        margin-left: 5px;
        width: 102vw;
        height: 76vh;
        border-radius: 0px;   
    }
}
.alert{
    border-radius: 0px;  
}
.btn{
    border: 1px solid #BDBDBD;
    border-radius: 0px;  
}