@import '~bootstrap/scss/bootstrap.scss';
@import 'extend';
@import 'typography';
@import 'home';

.home{
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
}

.tournaments{
    .calendar{
        overflow: auto;
        margin-top: -55px;
        .table{
            margin-top: 39px;
            font-size: 6px;
            thead{font-size: 8px;}
            .where{ min-width: 25px; }
            .day{ min-width: 25px; }
            .blinds{ min-width: 55px; }
            .time{ min-width: 25px; }
            .date{ min-width: 25px; }
            .tournament{ min-width: 70px; }
            @media (min-width: 576px){
                font-size: 10px;
                thead{font-size: 14px;}
                .date{ min-width: 80px; }
                .time{ min-width: 55px; }
                .day{ min-width: 55px; }
                .where{ min-width: 175px; }
                .blinds{ min-width: 55px; }
                .tournament{ width: 100%; }
            }
            &.zoomed{
                font-size: 18px;
                thead{font-size: inherit;}
                @media (min-width: 576px){
                    font-size: 18px;
                }
                .tournament{ min-width: 400px; }
                .where{ min-width: 300px; }
            }
        }
    }
    .bottom-bar{
        border-top: 1px solid #BDBDBD;
        font-size: 8px;
        position: fixed;
        bottom: 0;
        left: 0;
        background: white;
        width: 100%;
    }
}

.main-navbar.navbar-light{
    .navbar-toggler{
        border: none;
    }
} 

.searchbar{
    position: relative;
    input[type=text]{
        border: none;
        border-radius: 0;
        font-size: 16px;
        &:focus{
            background: #ffdbda;
        }
    }
    i{
        position: absolute;
        top: 6px;
        right: 10px;
    }
}
.bottom-bar{
    .nav-item{
        padding-top: 10px;
        cursor: pointer;
        &:hover{
            background: #BDBDBD;
        }
    }
}