@import '~bootstrap/scss/bootstrap.scss';
@import 'extend';
@import 'typography';
@import 'home';

.home{
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
}

.tournaments{
    .calendar{
        overflow: auto;
        margin-top: -55px;
        tbody{
            font-size: 12px;
        }
        .tournament{
            min-width: 450px;
        }
    }
    .bottom-bar{
        border-top: 1px solid #BDBDBD;
        font-size: 8px;
        position: fixed;
        bottom: 0;
        left: 0;
        background: white;
        width: 100%;
    }
}

.main-navbar.navbar-light{
    .navbar-toggler{
        border: none;
    }
} 

.searchbar{
    position: relative;
    input[type=text]{
        border: none;
        border-radius: 0;
        font-size: 16px;
        &:focus{
            background: #ffdbda;
        }
    }
    i{
        position: absolute;
        top: 6px;
        right: 10px;
    }
}

.tournament-heading{
}